@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}
@model MVC6.Training.Models.Person
<h1>MVC Web Application</h1>
<h2>@ViewBag.AppName</h2>

<app-name></app-name>
<div app-name></div>

<form asp-controller="Home" asp-action="Submit" method="post">
    <div>
        <label asp-for="Name">Name</label>
        <input asp-for="Name"/>
        <span asp-validation-for="Name"></span>
    </div>
    <div><button>Submit</button></div>
</form>